.App {
  max-width: 1200px;
  margin: auto;
  font-size: 18px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: gainsboro;
}

main {
  padding: 0 15px;
}

form {
  max-width: 550px;
  margin: auto;
  display: grid;
  grid-gap: 20px;
}

input {
  outline: none;
  border: 1px solid gainsboro;
  padding: 10px;
}

label {
  display: grid;
}

label > span {
  margin-bottom: 5px;
}
